<div class="page-home">
    <section class="parallax">
        <div class="parallax-content">
            <div class="container" layout="column" layout-align="center start">
                <h1>Не заборавите да се данас насмејете!</h1>

                <p>Ординација стоматолошке протетике</p>
            </div>
        </div>
    </section>
    <section class="highlights">
        <div class="container" layout>
            <div flex>
                <h1>Протетика</h1>
                <p>Протетичка рехабилитација зуба означава све оне процесе у којима се зуб рестаурира постављањем вештачких надокнада.
                    <br/>
                Зубна протетика (протетика зуба) подразумева надимештање изгубљених зуба и меканих делова усне шупљине потпуним (тоталним) или делимично (парцијалним) протезама, круницама, мостовима и љускама.
                    <br/>
                Под зубном протетиком се подразумевају зубне љуске, зубни мостови, зубне круне и протезе.
                </p>
                <md-button class="md-primary" style="float: right" ng-click="showMore('protetika')">Више информација</md-button>
            </div>
            <div flex layout layout-align="center center">
                <img width="300px" src="img/funnyTeeth.png" alt="">
            </div>
        </div>
    </section>
    <section class="highlights" style="background: #f8f8f8" layout-wrap>
        <div class="container" layout>
            <div flex layout layout-align="center center">
                <img width="450px" src="img/happyteets.png" alt="">
            </div>
            <div flex>
                <h1>Конзерватива</h1>

                <p>                Каријес зуба доводи до губитка тврдог зубног ткива (глеђ, дентин и цемент).
                    Тако изгубљено ткиво не може се надокнадити природним путем то јест, организам није у могућности да га опет створи. Због тога, једини начин за рестаурацију зуба и његово враћање у првобитан анатомски облик
                    јесте употреба вештачких материјала. Изгубљено ткиво могуће је надокнадити ”сивим” (амалгамским) или ”белим” (композитним) испунама.
                </p>
            </div>
        </div>
    </section>
    <section class="highlights">
        <div class="container" layout>
            <div flex>
                <h1>Ендоденција</h1>
                <p>Каријес, уколико се не лечи на време, захвата дубље слојеве глеђи и дентина, да би на крају захватио и саму пулпу зуба (”живац”). Овај стадијум (када је
                    захваћена пулпа зуба) означава се као пулпит(ис) и уколико се не лечи на
                    време, долази до одумирања зуба (гангрена зуба) и ширења инфективног
                    процеса ван зуба. Тада настаје запаљење ткива око врха корена зуба (у кости), које се означава као пародонит(ис).
                </p>
                <!--<ul>-->
                <!--<li><a href="">Books and Programs</a></li>-->
                <!--<li><a href="">Kimochis</a></li>-->
                <!--<li><a href="">Other parenting programs</a></li>-->
                <!--</ul>-->
                <md-button class="md-primary" style="float: right" ng-click="showMore('endodencija')">Више информација</md-button>
            </div>
            <div flex layout layout-align="center center">
                <img width="400px" src="img/endodencija_new.png" alt="">
            </div>
        </div>
    </section>
    <section class="highlights" style="background: #f8f8f8" layout-wrap>
        <div class="container" layout>
            <div flex layout layout-align="center center">
                <img src="img/kids.png" alt="">
            </div>
            <div flex>
                <h1>Дечја и превентивна стоматологија</h1>
                <p> Дечја стоматологија води бригу о здрављу уста и зуба деце, од рођења па до њихове 18. године.
                    Тај период обележава и многобројне промене у пределу уста и лица.
                    Рад са децом је доста специфичан и захтева пуну посвећеност, како стоматолошког тима са једне стране, тако и родитеља са друге.
                    Пожељно је да родитељи доведу дете у прву посету стоматологу пре појаве бола.
                    Заливање фисура представља превентивну интервенцију којом се спречава
                    настанак каријеса на гризној површини бочних зуба.
                </p>
                <md-button class="md-primary" style="float: right" ng-click="showMore('deca')">Више информација</md-button>
            </div>
        </div>
    </section>
    <section class="highlights">
        <div class="container" layout>
            <div flex>
                <h1>Шкрипање зуба - Бруксизам</h1>

                <p>Бруксизам је стручни израз за прекомерно, форсирано стискање и шкрипање зубима које није повезано са жвакањем хране, а поготово се јавља ноћу.
                    Проузрокује трајно оштећење зуба, укључујући и пуцање зубне глеђи, преломе зуба, повлачење десни са вратова зуба,
                    оштећење потпорног апарата зуба које доводи до губитка зуба, оштећење доњовиличног зглоба...
                    Временом долази до појаве изузетно јаке осетљивости зуба и болова у зглобовима, ушима и глави, што ствара велику напетост и нервозу код пацијента.
                    У стоматолошкој ординацији се на основу отиска зуба израђује силиконски штитник за зубе, такозвани night-guard tray који се носи у току ноћи на зубима и тако спречава даље трошење зуба и болове у зглобовима.
                </p>
            </div>
            <div flex layout layout-align="center center">
                <img src="img/bronksizam.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="highlights" style="background: #f8f8f8" layout-wrap>
        <div class="container" layout>
            <div flex layout layout-align="center center">
                <img src="img/3110_4399.jpg" alt="">
            </div>
            <div flex>
                <h1>Бељење зуба</h1>

                <p>Избељивање зуба је провес уклањања разних мрља и дисколорација са површине зуба, а самим тим и боја зуба постаје беља.
                    Бељење зуба је веома популарна процедура, јер можете без икаквих непријатности и по приступачној цени доћи до прелепих белих зуба.
                </p>
                <md-button class="md-primary" style="float: right" ng-click="showMore('izbeljivanje')">Више информација</md-button>
            </div>
        </div>
    </section>
</div>