<md-dialog aria-label="Бељење авиталних зуба" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Бељење авиталних зуба</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights">
                    <div class="container" layout>
                        <div flex>
                            <h4>Бељење авиталних зуба</h4>

                            <p>Авитални зуби, такозвани ”мртви зуби”, су они којима је извађен живац из канала корена. То су они зуби који су лечени, или је на њима рађена операција. Временом такви зуби мењају боју и постају приметно тамнији од околних ”живих” зуба. Потамнелом зубу можемо вратити боју!
                            </p>
                        </div>
                        <div flex layout layout-align="center center">
                            <img src="img/beljenje-avitalni.jpg" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>