<md-dialog aria-label="Професионално чишћење зуба" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Професионално чишћење зуба</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/ciscenje.jpg" alt="">
                        </div>
                        <div flex>
                            <h4>Професионално чишћење зуба</h4>

                            <p>Професионално механичко чишћење подразумева селективно одстрањење зубног плака са свих зубних

                                површина при чему се посебна важност придаје оним површинама које пацијент обично занемари

                                приликом чишћења. То су најчешће међузубни простори као и језичне површине доњих секутића и очњака.

                                Сам третман се спроводи помоћу малих ротирајућих четкица и гумица, српова (сцалера),кирета и сл.

                                којима прелазимо преко површине зуба и одстрањујемо наслаге. Данас се у савременој стоматолошкој

                                пракси користи и апарат за пескирање зуба– AIR FLOW®.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Zatvori
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>