<md-dialog aria-label="Дечја и превентивна стоматологија" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Дечја и превентивна стоматологија</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights">
                    <div class="container" layout>
                        <div flex>
                            <h4>Орална хигијена</h4>

                            <p>Зубни плак је мекана наслага на зубу која се не може одстранити испирањем већ само механичким

                                чишћењем.

                                Хигијену усне шупљине можемо дефинисати као квалитетну контролу настанка зубног плака и тиме

                                спречавања настанка гингивитиса, пародонтитиса и каријеса. Због промена у начину исхране,данас

                                четкица и зубна паста нису довољно средство у одржавању здравља. Осим четкања врло је битно користити

                                зубни конац и/или интерденталне четкице за чишћење међузубних простора. Механичко чишћење језика још

                                је један сегмент. Као додатна средства користе се и различити антисептички раствори(водице за уста)

                                помоћу којих се смањује количина бактерија у устима и тиме доприноси побољшању хигијене.
                            </p>
                        </div>
                        <div flex layout layout-align="center center">
                            <img src="img/oralna-higijena.jpg" alt="">
                        </div>
                    </div>
                </section>
                <section class="highlights" style="background: #f8f8f8" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/ciscenje.jpg" alt="">
                        </div>
                        <div flex>
                            <h4>Професионално чишћење зуба</h4>

                            <p>Професионално механичко чишћење подразумева селективно одстрањење зубног плака са свих зубних

                                површина при чему се посебна важност придаје оним површинама које пацијент обично занемари

                                приликом чишћења. То су најчешће међузубни простори као и језичне површине доњих секутића и очњака.

                                Сам третман се спроводи помоћу малих ротирајућих четкица и гумица, српова (сцалера),кирета и сл.

                                којима прелазимо преко површине зуба и одстрањујемо наслаге. Данас се у савременој стоматолошкој

                                пракси користи и апарат за пескирање зуба– AIR FLOW®.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>