<md-dialog aria-label="Едоденција" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Едоденција</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights">
                    <div class="container" layout>
                        <div flex>
                            <h4>Едоденција</h4>

                            <p>Каријес, уколико се не лечи на време, захвата дубље слојеве глеђи и дентина,

                                да би на крају захватио и саму пулпу зуба(“живац”). Овај стадијум (када је

                                захваћена пулпа зуба) означава се као пулпит(ис) и уколико се не лечи на

                                време, долази до одумирања пулпе (гангрена зуба) и ширења инфективног

                                процеса ван зуба. Тада настаје запаљење ткива око врха корена зуба(у

                                кости), које се означава као пародонтит(ис).

                                Пулпит представља запаљење живца тј. пулпе зуба. Иако постоје неколико

                                облика овог обољења, пулпити се карактеришу болом, који настаје спонтано

                                и појачава се на топле или хладне надражаје. Као прву помоћ пацијенту

                                савјетује се узимање аналгетика, док је за дефинитивно решење неопходно

                                лечење зуба.

                                Гангрена зуба представља стадијум инфекције када долази до губитка

                                виталитета у пулпи зуба. Услед тога долази до некротичног распадања ткива

                                пулпе. Бактерије које су изазвале инфекцију сада се налазе у читавој пулпи и

                                улазе у зидове око пулпе зида. Управо због тога неопходно је лечење

                                ових зуба тј. његових канала, како би се уклониле све бактерије из зидова

                                пулпе. Гангренозна пулпа представља константан извор бактерија које

                                прелазе у пародонцијум и изазивају пародонтитис тј. запаљење ткива око

                                врха корена зуба. Уколико се ово стање не лечи, долази до развијања

                                процеса и настанка апсцеса на зубу. Као и код пулпита, пацијенту се за

                                прву помоћ саветују аналгетици, док је за дефинитивно решење неопходна

                                посета стоматологу.

                                Под појмом пародонтити подразумевају се обољења ткива око корена

                                зуба. Ова обољења могу настати под дејством инфекције, трауме или неких

                                хемијских узрока. Инфкетивни узрок најчешће представља већ инфицирана

                                пулпа зуба. Као таква, она представља стални извор микро-организама и

                                токсина који изазивају пародонтонтите. Од симптома који се јављају код

                                ових обољења, пре свега јавља се бол на притисак. Инфекција која се налази

                                око корена зуба доводи до повећања запремине, што доводи до малог

                                издизања зуба. Загризом на такав зуб повећава се притисак у запаљењом

                                простору па долази до стварања бола. Терапија ових обољења своди се на

                                уклањање узрока инфекције тј. уклањање пулпе и лечења канала корена.
                            </p>
                        </div>
                        <div flex layout layout-align="center center">
                            <img src="img/endodencija.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>