<md-dialog aria-label="Крунице" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Крунице</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights">
                    <div class="container" layout>
                        <div flex>
                            <h4>Крунице</h4>

                            <p>Ако сте неким случајем оштетили зуб или је напукао или је уништен због каријеса, вероватно ће вам требати нова круна.
                                Крунице представљају стоматолошке надокнаде које се још означавају као
                                навлаке и које се постављају на природне зубе
                                Круне могу бити састављене од различитих материјала као што су злато, порцулан, циркон…Најприроднији изглед од набројаних материјала даје порцулан.
                                Када се круне ставе на зубе, формирају се у жељени облик и истовремено добијамо природан и леп осмех са белим зубима.
                            </p>
                        </div>
                        <div flex layout layout-align="center center">
                            <img src="img/krune2.jpg" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>