<md-dialog aria-label="Кућно бељење зуба" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Кућно бељење зубаa</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights" style="background: #f8f8f8" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/kucno.jpg" alt="">
                        </div>
                        <div flex>
                            <h4>Кућно бељење зуба</h4>

                            <p>Ова постепена метода избељивања може дати фасцинантне резултате, мада постоје велике разлике у карактеристикама зуба разлицитих особа и различите методе дају боље резултате код различитих људи. Уколико су зуби јако осетљиви могуће је комбиновати ношење сплинта са избељивацем једне ноћи са препаратом флуора следеће ноћи. Процес избељивања ће у том случају трајати дуже, али неће бити непријатних сензација.

                                За добијање изразито беле нијансе, ова техника се може комбиновати са избељивањем лампом и под строгом контролом од стране стоматолога.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>