<md-dialog aria-label="Мостови" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Мостови</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/mostovi2.jpg" alt="">
                        </div>
                        <div flex>
                            <h4>Зубни мостови</h4>

                            <p>У случајевима када недостаје један или више
                                зуба у вилици, мостови повезују прекинуте зубне низове у једну целину.
                                Уобичајен и најједноставнији је мост са три зуба, када је средњи зуб причвршћен на два зуба са базом са сваке стране.
                                Ако не испунимо празнине између зуба, ризикујемо да се остали зуби у устима померају, односно размичу. А то је само корак до губљења правилног угриза и развијања
                                парадентозе.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>