<md-dialog aria-label="Ординацијско бељење зуба" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ординацијско бељење зуба</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights">
                    <div class="container" layout>
                        <div flex>
                            <h4>Ординацијско бељење зуба</h4>

                            <p>Под контролом лекара наносе се препарати који за један до два третмана у трајању око 45 минута дају посветљење за неколико нијанси. Пар дана након ординацијског избељивања зуба постоји могућност да зуби буду осетљивији него раније, јер су сви дентински каналићи очишћени и значајно проходнији за регистровање надражаја из усне дупље, превише хладно, топло, слатко, кисело… С тога је препорука да максимално редукујете овакве надражаје пар дана након бељења, а касније, да би што дуже задржали постигнути ефекат бељења, смањите и унос тамно обојене хране и пића, ни пушење није препоручљиво, али ако Вас од те лоше навике не одврати бар нека налепница на пакли цигарета, тешко да ћемо ми успети једним малим естетским захватом као што је избељивање зуба.

                                Резултати који се постижу бељењем зуба се крећу у распони од неколико нијанси светлијих зуба у односу на Вашу почетну боју. Ако желите „Холивудски осмех“, а у старту немате светлу нијансу зуба, избељивањем га никада нећете добити. Углавном сваки „Холивудски осмех“ је добијен фасетирањем зуба, било керамичким фасетама или композитним.

                                Избељивање зуба се не препоручује трудницама и деци узраста испод 16 година.

                                Све интервенције су ботпуно безболне, будите безбрижни…
                            </p>
                        </div>
                        <div flex layout layout-align="center center">
                            <img src="img/ordinacijsko.jpg" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>