<md-dialog aria-label="Парцијалне плочасте протезе" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Парцијалне плочасте протезе</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/parcijalnaproteza.jpg" alt="">
                        </div>
                        <div flex>
                            <h4><i>Парцијалне плочасте протезе</i></h4>

                            <p>Парцијалне плочасте протезе представљају
                                протетске надокнаде којима се надокнађује више изгубљених зуба,када их
                                на други начин није могуће надокнадити(распоред зуба,финансијски разлози...).Њима се надокнађују изгубљени зуби и потросена вилична кост, и тако се поново
                                успостављају нормални односи између горње и доње вилице, као и нормална функција зуба и уста. Састоји се од три основна дела: први је део који налезе на вилицну
                                кост и надокнађује њен изгубљен део а израђује се од акрилата; затим вештачки зуби који се уграђују у акрилат; и на крају део који везује протезу за преостале
                                природне зубе сто су жичане кукице.</p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>