<md-dialog aria-label="Парцијалне скелетне протезе" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Парцијалне скелетне протезе</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/vizil.jpg" alt="">
                        </div>
                        <div flex>
                            <h4><i>Парцијалне скелетне протезе</i></h4>

                            <p>Парцијална скелетирана протеза, која је
                                познатија као визил протеза, представља надокнаду која је слична класичној
                                парцијалној протези само по индикацији. Специфично за ову врсту протетске надокнаде јесу метални скелет, и металне ливене кукице који омогучавају максималну
                                редукцију протезе.
                                Осим са ливеним кукицама, ова протеза се може израђивати и у комбинациј са другом врстом протетских надокнада, као што су ткз. атачмени или телескоп круне, а чија
                                је функција да се протеза ретинира и стабилизује, тј. да се спријечи њено помјерање и испадање. Израђује се као трајна надокнада за све врсте крезубости.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>