<md-dialog aria-label="Тоталне протезе" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Тоталне протезе</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section class="highlights" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/totalna.jpg" alt="">
                        </div>
                        <div flex>
                            <h4><i>Тоталне протезе</i></h4>

                            <p>Тоталне зубне протезе врста су зубних надокнада којим се лече безуби

                                пацијенти. Овим средством надокнађују се сви изгубљени зуби и делови

                                алвеоларног наставка, чиме се омогућава обнова нарушених функција.</p>
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>