<md-dialog aria-label="Зубна протетика" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Зубна протетика</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Зубна протетика</h2>
                <p>Протетичка рехабилитација зуба означава све оне процесе у којима се зуб рестаурира постављањем вештачких надокнада.
                    <br/>
                    Зубна протетика (протетика зуба) подразумева надимештање изгубљених зуба и меканих делова усне шупљине потпуним (тоталним) или делимично (парцијалним) протезама, круницама, мостовима и љускама.
                    <br/>
                    Под зубном протетиком се подразумевају зубне љуске, зубни мостови, зубне круне и протезе.
                </p>
                <section class="highlights">
                    <div class="container" layout>
                        <div flex>
                            <h4>Крунице</h4>

                            <p>Ако сте неким случајем оштетили зуб или је напукао или је уништен због каријеса, вероватно ће вам требати нова круна.
                                Крунице представљају стоматолошке надокнаде које се још означавају као
                                навлаке и које се постављају на природне зубе
                                Круне могу бити састављене од различитих материјала као што су злато, порцулан, циркон…Најприроднији изглед од набројаних материјала даје порцулан.
                                Када се круне ставе на зубе, формирају се у жељени облик и истовремено добијамо природан и леп осмех са белим зубима.
                            </p>
                        </div>
                        <div flex layout layout-align="center center">
                            <img src="img/krune2.jpg" alt="">
                        </div>
                    </div>
                </section>
                <section class="highlights" style="background: #f8f8f8" layout-wrap>
                    <div class="container" layout>
                        <div flex layout layout-align="center center">
                            <img src="img/mostovi2.jpg" alt="">
                        </div>
                        <div flex>
                            <h4>Зубни мостови</h4>

                            <p>У случајевима када недостаје један или више
                                зуба у вилици, мостови повезују прекинуте зубне низове у једну целину.
                                Уобичајен и најједноставнији је мост са три зуба, када је средњи зуб причвршћен на два зуба са базом са сваке стране.
                                Ако не испунимо празнине између зуба, ризикујемо да се остали зуби у устима померају, односно размичу. А то је само корак до губљења правилног угриза и развијања
                                парадентозе.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="highlights">
                    <div class="container" layout="column">
                        <h4>Зубне протезе</h4>

                        <p><i>Када пацијенту недостаје много зуба једна од једноставнијих терапија је зубна протеза. У данашње време се са зубним протезама може постићи како функционалност,
                            тако и леп и природан изглед. </i></p>

                        <div layout>
                            <div flex>
                                <h4><i>Парцијалне плочасте протезе</i></h4>

                                <p>Парцијалне плочасте протезе представљају
                                    протетске надокнаде којима се надокнађује више изгубљених зуба,када их
                                    на други начин није могуће надокнадити(распоред зуба,финансијски разлози...).Њима се надокнађују изгубљени зуби и потросена вилична кост, и тако се поново
                                    успостављају нормални односи између горње и доње вилице, као и нормална функција зуба и уста. Састоји се од три основна дела: први је део који налезе на вилицну
                                    кост и надокнађује њен изгубљен део а израђује се од акрилата; затим вештачки зуби који се уграђују у акрилат; и на крају део који везује протезу за преостале
                                    природне зубе сто су жичане кукице.</p>
                            </div>
                            <div flex layout layout-align="center center">
                                <img src="img/parcijalnaproteza.jpg" alt="">
                            </div>
                            <div flex>
                                <h4><i>Парцијалне скелетне протезе</i></h4>

                                <p>Парцијална скелетирана протеза, која је
                                    познатија као визил протеза, представља надокнаду која је слична класичној
                                    парцијалној протези само по индикацији. Специфично за ову врсту протетске надокнаде јесу метални скелет, и металне ливене кукице који омогучавају максималну
                                    редукцију протезе.
                                    Осим са ливеним кукицама, ова протеза се може израђивати и у комбинациј са другом врстом протетских надокнада, као што су ткз. атачмени или телескоп круне, а чија
                                    је функција да се протеза ретинира и стабилизује, тј. да се спријечи њено помјерање и испадање. Израђује се као трајна надокнада за све врсте крезубости.
                                </p>
                            </div>
                            <div flex layout layout-align="center center">
                                <img src="img/vizil.jpg" alt="">
                            </div>
                        </div>
                            <h4><i>Тоталне протезе</i></h4>
                        <div layout>
                            <p>Тоталне зубне протезе врста су зубних надокнада којим се лече безуби

                                пацијенти. Овим средством надокнађују се сви изгубљени зуби и делови

                                алвеоларног наставка, чиме се омогућава обнова нарушених функција.</p>
                        </div>
                        <div flex>
                            <img style="margin:0 auto" src="img/totalna.jpg" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()" style="margin-right:20px;">
                Затвори
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>